ul {
  margin: 0;
}

body {
  background-color: #03243c;
  color: #fff;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.Add-row__btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ae38f3;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  box-shadow: 0 0 20px #ae38f3;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}

.Add-row__btn:focus-visible {
  outline: none;
}

.Add-row__btn:hover {
  background-color: darken(#ae38f3, 10);
  box-shadow: 0 0 35px #ae38f3;
}

.table__row {
  border-bottom: 1px solid #fff;
  display: flex;
  padding: 40px 15px 10px;
  list-style-type: none;
}

svg:hover {
  color: #aaa;
}

.table__row li {
  width: 35%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding-left: 10px;
}

.table__header {
  white-space: nowrap;
}

.table__row:hover {
  background-color: lighten(#03243c, 10);
}

.table__header:hover {
  background-color: #03243c;
}

#sort {
  margin: 0 10px;
  cursor: pointer;
}

li.column__icon {
  width: 7%;
}

li.column__mark {
  width: 15%;
}
